@model ICollection< FishCaughtAllModel>


@{
    ViewData["Title"] = "Caught List";
}
<hr />

<div class="row text-center">
    @foreach (var e in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100" style="width: 100%;background-color: rgba(10, 20, 0, 0.6);border-radius:10px;padding:8px;border-color:dimgrey; box-shadow:5px 5px 10px black; ">
                @if (!string.IsNullOrEmpty(e.CaughtImageUrl))
                {
                    <img src="@e.CaughtImageUrl" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="@e.FishingEventName">
                }
                else
                {
                    <img src="~/img/no-image.jpg" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="No Image Available">
                }
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@e.FishingEventName</h5>
                    <p class="card-text">Species name: @e.Species</p>
                    <p class="card-text">Weight: @e.Weight kg</p>
                    <p class="card-text">Length: @e.Length cm</p>
                    <p class="card-text">Date: @e.DateCaught</p>                
                </div>
            </div>
        </div>
    }
</div>     

