 @model FishCaughtDeleteModel

@{
    ViewBag.Title = "Delete caught";
}

<h2 class="text-center">@ViewBag.Title</h2>


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card transparent-card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.EventName</h3>
                <p class="mb-0"><strong>Fish:</strong> @Model.FishName</p>           
                <p class="mb-0"><strong>Fish Weight:</strong> @Model.Weight</p>
                <p class="mb-0"><strong>Fish Length:</strong> @Model.Length</p>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a asp-action="All" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>