 @model ApplicationUserDetailsModel
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (@Model.FishCaughtsList.Any())
{

    <div class="row text-center">
        @foreach (var e in Model.FishCaughtsList)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 transparent-card">

                    @if (!string.IsNullOrEmpty(e.CaughtImageUrl))
                    {
                        <img src="@e.CaughtImageUrl" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="@e.FishingEventName">
                    }
                    else
                    {
                        <img src="~/img/no-image.jpg" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="No Image Available">
                    }
                    <div class="card-body d-flex flex-column">
                      
                        <h5 class="card-title">
                            <span class="label">Name:</span>
                            <span class="text-custom-color">@Model.FirstName @Model.LastName</span>
                        </h5>

                        <div class="card-text">
                            Event Name: <span class="text-custom-color">@e.FishingEventName</span>
                        </div>
                        <div class="card-text">
                            Event Status: <span class="text-custom-color">@e.FishingEventStatus</span>
                        </div>
                        <div class="card-text">
                            Fish Name: <span class="text-custom-color">@e.Species</span>
                        </div>
                        <div class="card-text">
                            Weight: <span class="text-custom-color">@e.Weight kg</span>
                        </div>
                        <div class="card-text">
                            Length: <span class="text-custom-color">@e.Length cm</span>
                        </div>
                        <div class="card-text">
                            Date: <span class="text-custom-color">@e.DateCaught</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2>No fish have been recorded yet.</h2>
}
<a asp-controller="ApplicationUser" asp-action="All" class="btn btn-warning mb-2 w-20 p-1 fw-bold"><i class="fa-solid fa-rotate-left"></i> Back</a>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
