 @model SpeciesEditModel
@{
    ViewBag.Title = "Edit Fish";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label-add-edit">Location Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" style="background-color: rgba(10, 20, 0, 0.6);color:greenyellow;box-shadow:5px 5px 10px black; " />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="2" style="background-color: rgba(10, 20, 0, 0.6) ;color:greenyellow;box-shadow:5px 5px 10px black; "></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.HabitatName" class="form-label-add-edit">Habitat Name</label>
                <input asp-for="@Model.HabitatName" class="form-control" type="text" aria-required="true" style="background-color: rgba(10, 20, 0, 0.6) ;color:greenyellow;box-shadow:5px 5px 10px black; " />
                <span asp-validation-for="@Model.HabitatName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.FishBait" class="form-label-add-edit">FishBait</label>
                <textarea asp-for="@Model.FishBait" class="form-control" aria-required="true" rows="1" style="background-color: rgba(10, 20, 0, 0.6) ;color:greenyellow;box-shadow:5px 5px 10px black; "></textarea>
                <span asp-validation-for="@Model.FishBait" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FishImageUrl" class="form-label-add-edit">Fish ImageUrl</label>
                <textarea asp-for="@Model.FishImageUrl" class="form-control" aria-required="true" rows="1" style="background-color: rgba(10, 20, 0, 0.6) ;color:greenyellow;box-shadow:5px 5px 10px black; "></textarea>
                <span asp-validation-for="@Model.FishImageUrl" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <input class="btn btn-success btn-dark-text mb-2 w-100 py-3 fw-bold rounded" type="submit" value="Save" />
                <a asp-controller="Species" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



