@model Weather

@{
    if (Model.Conditions.Precip == null)
    {
        Model.Conditions.Precip = "0.0";
    }
}

<div class="text-lg-center transparent-card-weather align-content-center mx-auto">
   <div >
        <h3 class="text-center text-custom-color">@Model.ResolvedAddress  <img src="~/img/weathericons/@($"{Model.Conditions.Icon}.svg")" alt="Weather Icon" class="weather-icon-big" /></h3>
        <div class="card-text">
            Current Condition: <span class="text-custom-color">@Model.Conditions.Conditions</span>
        </div>                                      
    </div>
    <hr />

    <div class="card-text weather-list">
        Last Update: <span class="text-custom-color">@Model.Conditions.DateTime</span>
    </div>
   
    <div class="card-text weather-list">
        Temperature: <span class="text-custom-color"> @Model.Conditions.Temp °C</span>
    </div>
    
    <div class="card-text weather-list">
        Humidity: <span class="text-custom-color">  @Model.Conditions.Humidity %</span>
    </div>
  
    <div class="card-text weather-list">
        Pressure: <span class="text-custom-color">  @Model.Conditions.Pressure hPa</span>
    </div>
  
    <div class="card-text weather-list">
        Cloud cover: <span class="text-custom-color">   @Model.Conditions.Cloudcover %</span>
    </div>
 
    <div class="card-text weather-list">
        Precipitation: <span class="text-custom-color">   @Model.Conditions.Precip  mm</span>
    </div>  
    <br />
    <div class="card-text weather-list">
        UvIndex: <span class="text-custom-color">   @Model.Conditions.UvIndex</span>
    </div>
    <div class="card-text weather-list">
        Solar Radiation: <span class="text-custom-color">  @Model.Conditions.SolarRadiation w/m2</span>
    </div>
    <div class="card-text weather-list">
        Wind speed: <span class="text-custom-color">  @Model.Conditions.Windspeed km/h</span>
    </div>
    <div class="card-text weather-list">
        Sunrise: <span class="text-custom-color"> @Model.Conditions.Sunrise h</span>
    </div>
    <div class="card-text weather-list">
        Sunset: <span class="text-custom-color"> @Model.Conditions.Sunset h</span>
    </div>
   
    @foreach (var a in Model.Alerts)
    {
        <h3 class="text-danger">Alerts:</h3>
        <div>
            <p>@a.Event</p>
            <p>@a.Headline</p>
            <p>@a.Description</p>
        </div>
    }

    <a asp-controller="Location" asp-action="All" class="btn btn-info btn-dark-text mb-2 w-20 py-1  rounded"><i class="fa-solid fa-map-location-dot"></i> Back to all Locations</a>
    <button type="button" class="btn btn-warning btn-dark-text mb-2 w-20 py-1  rounded" onclick="history.back()"><i class="fa-solid fa-rotate-left"></i> Back</button>

</div>

@foreach (var d in Model.Days.Take(7))
{
    <div class="weather-days-forecast">

        <p >@d.DateTime.ToString("ddd dd.MM") <img src="~/img/weathericons/@($"{d.Icon}.svg")" alt="Weather Icon" class="weather-icon-normal" /></p>
        <p class="weather-condition-custom ">@d.Conditions</p>
        <p style="color:deepskyblue"> Min: @d.TempMin°C</p>
        <p style="color:indianred;">Max: @d.TempMax°C</p>
    </div>
}


<div class="text-lg-center">
    <form asp-controller="Weather" asp-action="Index" method="get" class="form-inline">
        <input type="text" name="locationName" class="align-content-center mx-auto form-control mr-2 input-field-40" placeholder="Check Weather in your location" required />
        <button type="submit" class="btn custom-btn-green" style="margin:6px"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
    </form>
</div>


