@model AssignRoleViewModel

@{
    ViewData["Title"] = "Remove Role";
}

<h2>Remove Role</h2>

<form asp-action="RemoveRole" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="UserId">Select User</label>
        <select asp-for="UserId" class="form-control input-field" style="width:30%" asp-items="@(new SelectList(Model.Users, "Id", "UserName"))">
            <option value="">-- Select User --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="SelectedRole">Select Role to Remove</label>
        <select asp-for="SelectedRole" class="form-control input-field" style="width:30%">
            <option value="">-- Select Role --</option>
            @foreach (var role in Model.Roles)
            {
                <option value="@role.Value">@role.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-danger py-1" style="margin-top:5px">Remove Role</button>
</form>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-3 input-field" style="width:50%">
        @TempData["SuccessMessage"]
    </div>
}

<div class="text-start">
    <a asp-controller="Home" asp-action="Index" class="btn btn-light btn-custom">Back to Home</a>
</div>


