 @model FishingEventAddModel
@{
    ViewBag.Title = "Fishing Event";
    var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<h2 class="text-center">@ViewBag.Title</h2>


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            @Html.AntiForgeryToken()
    
            <div class="mb-3">
                <label asp-for="@Model.EventName" class="form-label-add-edit">Event Name</label>
                <input asp-for="@Model.EventName" class="form-control input-field" aria-required="true"/>
                <span asp-validation-for="@Model.EventName" class="text-custom-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.Description" class="form-control input-field" aria-required="true" rows="1"></textarea>
                <span asp-validation-for="@Model.Description" class="text-custom-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.StartDate" class="form-label-add-edit">Start Date</label>
                <input asp-for="@Model.StartDate" class="form-control input-field" type="text" aria-required="true" placeholder="dd-MM-yyyy" />
                <span asp-validation-for="@Model.StartDate" class="text-custom-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.EndDate" class="form-label-add-edit">End Date</label>
                <input asp-for="@Model.EndDate" class="form-control input-field" type="text" aria-required="true" placeholder="dd-MM-yyyy" />
                <span asp-validation-for="@Model.EndDate" class="text-custom-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.EventImageUrl" class="form-label-add-edit">Image Url</label>
                <textarea asp-for="@Model.EventImageUrl" class="form-control input-field" aria-required="true" rows="1"></textarea>
                <span asp-validation-for="@Model.EventImageUrl" class="text-custom-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.LocationId" class="form-label-add-edit">Select Location</label>
                <select asp-for="@Model.LocationId" class="form-control transparent-drop-menu" aria-required="true" asp-items="@(new SelectList(Model.Locations, "Id", "Name"))">
                    <option value="">Select Location...</option>
                </select>
                <span asp-validation-for="@Model.LocationId" class="text-custom-danger"></span>
            </div> 

            <div class="mb-3">
                <input class="btn btn-success btn-dark-text mb-2 w-20 py-1 fw-bold rounded" type="submit" value="Save" />
                <a asp-controller="FishingEvent" asp-action="All" class="btn btn-warning mb-2 w-20 p-1 fw-bold">Cancel</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

