@model ICollection< FishingEventALLModel>

@{
    ViewData["Title"] = "Events List";
}
<hr />
@{
    if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="FishingEvent" asp-action="All" method="get" class="form-inline">
            <input type="text" name="eventName" class="form-control mr-2 input-field" style="width:40%" placeholder="Enter event name" required />
            <button type="submit" class="btn custom-btn-green" style="margin:6px">Search Event by Name</button>
        </form>
    }
}
<hr />

<div class="row text-center">

    @foreach (var e in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100 transparent-card">

                @if (!string.IsNullOrEmpty(e.EventImageUrl))
                {
                    <img src="@e.EventImageUrl" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="@e.EventName">
                }
                else
                {
                    <img src="~/img/no-image.jpg" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="No Image Available">
                }
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@e.EventName</h5>
                    <p class="card-text">StartDate: @e.StartDate</p>
                    <p class="card-text">EndDate: @e.EndDate</p>
                    <p class="card-text">Location Name: @e.LocationName</p>
                    <p class="card-text">Creator: @e.Organizer</p>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="FishingEvent" asp-action="Details" asp-route-id="@e.Id" class="btn btn-info mb-2 w-100 p-1 fw-bold">Details</a>

                        @if (e.IsOrganizer || User.IsInRole("Admin"))
                        {
                            <a asp-controller="FishingEvent" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-1 fw-bold">Edit</a>
                            <a asp-controller="FishingEvent" asp-action="Delete" asp-route-id="@e.Id" class="btn btn-danger w-100">Delete</a>

                            // Don't show "Join" or "Leave" buttons if the user is an admin
                            if (!User.IsInRole("Admin"))
                            {
                                if (!e.IsJoined)
                                {
                                    <form class="input-group-sm" asp-controller="FishingEvent" asp-action="Join" asp-route-id="@e.Id">
                                        <input type="submit" value="Join the Event" class="fs-6 btn btn-success mb-3 w-50 p-1 fw-bold" />
                                    </form>
                                }
                                else
                                {
                                    <form class="input-group-sm" asp-controller="FishingEvent" asp-action="Leave" asp-route-id="@e.Id">
                                        <input type="submit" value="Leave the Event" class="fs-6 btn btn-warning mb-3 w-50 p-1 fw-bold" />
                                    </form>
                                }
                            }
                        }
                        else if (!e.IsOrganizer) // If the user is not the organizer
                        {
                            // Don't show "Join" or "Leave" buttons if the user is an admin
                            if (!User.IsInRole("Admin"))
                            {
                                if (!e.IsJoined)
                                {
                                    <form class="input-group-sm" asp-controller="FishingEvent" asp-action="Join" asp-route-id="@e.Id">
                                        <input type="submit" value="Join the Event" class="fs-6 btn btn-success  mb-2 w-100 p-1 fw-bold" />
                                    </form>
                                }
                                else // If the user has joined the event, show the Leave button
                                {
                                    <form class="input-group-sm" asp-controller="FishingEvent" asp-action="Leave" asp-route-id="@e.Id">
                                        <input type="submit" value="Leave the Event" class="fs-6 btn btn-danger mb-2 w-100 p-1 fw-bold" />
                                    </form>
                                }
                            }
                        }
                    }
                    else
                    {
                        // Optional: Message or button for non-authenticated users
                    }
                </div>
            </div>
        </div>
    }
</div>  