
@model ICollection< FishingEventALLModel>

<h3 class="text-center">Events List</h3>

@{
    if (User.Identity.IsAuthenticated)
    {     
        <form asp-controller="FishingEvent" asp-action="All" method="get" class="form-inline">
            <input type="text" name="searchValue" class="form-control mr-2 input-field-30" placeholder="Enter value name" required />
            
            <div class="form-check mt-1 mx-2">
                <input class="form-check-input" type="radio" name="radioOption" id="flexRadioDefault1" value="EventName" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                   Search by Event Name
                </label>
            </div>
            <div class="form-check mx-2">
                <input class="form-check-input" type="radio" name="radioOption" id="flexRadioDefault2" value="FishName">
                <label class="form-check-label" for="flexRadioDefault2">
                    Search by name of caught fish
                </label>
            </div>
            <button type="submit" class="btn custom-btn-green mt-1" >
                <i class="fa-solid fa-magnifying-glass"></i> Search
            </button>
        </form>
    }         
}
<br />

<div class="row text-center">

    @foreach (var e in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100 transparent-card">

                @if (!string.IsNullOrEmpty(e.EventImageUrl))
                {
                    <img src="@e.EventImageUrl" class="card-img-top card-image" alt="@e.EventName">
                    <p class="text-custom-danger">@(e.IsOrganizer ? "My Event" : "")</p>
                }
                else
                {
                    <img src="~/img/no-image.jpg" class="card-img-top card-image" alt="No Image Available">
                    <p class="text-custom-danger">@(e.IsOrganizer ? "My Event" : "")</p>
                }
                <div class="card-body d-flex flex-column">
             
                     <h4 class="card-title">                           
                                <span class="text-yellow-color font-LoveYa">@e.EventName</span>
                        </h4>

                     <div class="card-text">
                         Start Date: <span class="text-custom-color">@e.StartDate</span>
                    </div>
                     <div class="card-text">
                        End Date: <span class="text-custom-color">@e.EndDate</span>
                    </div>
                     <div class="card-text">
                        Location Name: <span class="text-custom-color">@e.LocationName</span>
                    </div>
                     <div class="card-text">
                       Creator:  <span class="text-custom-color">@e.Organizer</span>
                    </div>
                    
                   <br />

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="FishingEvent" asp-action="Details" asp-route-id="@e.Id" class="btn btn-outline-info mb-2 w-100 p-1 "><i class="fa fa-circle-info"></i> Details</a>

                        @if (e.IsOrganizer || User.IsInRole(AdminRole) || User.IsInRole(GlobalAdminRole))
                        {
                            <a asp-controller="FishingEvent" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-outline-warning mb-2 w-100 p-1 "><i class="fa fa-pen"></i> Edit</a>
                            <a asp-controller="FishingEvent" asp-action="Delete" asp-route-id="@e.Id" class="btn btn-outline-danger w-100 "><i class="fa fa-trash"></i> Delete</a>

                            // Don't show "Join" or "Leave" buttons if the user is an admin
                            if (!User.IsInRole(AdminRole) && !User.IsInRole(GlobalAdminRole))
                            {
                                if (!e.IsJoined)
                                {
                                    <form class="input-group-sm" asp-controller="FishingEvent" asp-action="Join" asp-route-id="@e.Id">
                                        <input type="submit" value="Join to my Event" class="btn btn-success mb-1 w-100 p-1 mt-1"/>
                                    </form>
                                }
                                else
                                {
                                    <form class="input-group-sm" asp-controller="FishingEvent" asp-action="Leave" asp-route-id="@e.Id">
                                        <input type="submit" value="Leave from my Event" class="btn btn-danger mb-1 w-100 p-1 mt-1"/>
                                    </form>
                                }
                            }
                        }
                        else if (!e.IsOrganizer) // If the user is not the organizer
                        {

                            if (!User.IsInRole(AdminRole) && !User.IsInRole(GlobalAdminRole)) // Don't show "Join" or "Leave" buttons if the user is an admin
                            {
                                if (!e.IsJoined)
                                {
                                    <form class="input-group-sm" asp-controller="FishingEvent" asp-action="Join" asp-route-id="@e.Id">
                                        <input type="submit" value="Join the Event" class="fs-6 btn btn-success  mb-2 w-100 p-1" />
                                    </form>
                                }
                                else // If the user has joined the event, show the Leave button
                                {
                                    <form class="input-group-sm" asp-controller="FishingEvent" asp-action="Leave" asp-route-id="@e.Id">
                                        <input type="submit" value="Leave the Event" class="fs-6 btn btn-danger mb-2 w-100 p-1" />
                                    </form>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }

</div> 

<div>
    <a asp-controller="FishingEvent" asp-action="All" class="btn btn-warning mb-2 w-20 p-1 "><i class="fa-solid fa-rotate-left"></i> Back</a>
</div>



