 @model FishingEventDetailModel

<h2 class="text-center">Details</h2>

<div class="row">
    <div class="card mb-5 text-lg-start transparent-card">

        @if (!string.IsNullOrEmpty(@Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" class="card-img-top img-fluid" style="max-height: 300px; object-fit:contain" alt="Location Image">
        }
        else
        {
            <img src="~/img/no-image.jpg" class="card-img-top img-fluid" style="max-height: 400px; object-fit: contain;" alt="Location Image">
        }
       
        <div class="card-body text-center" style="color:aquamarine">
           
            <h5 class="card-title font-LoveYa">@Model.EventName</h5>

            <div class="card-text">
                Description: <span class="text-custom-color">@Model.Description</span>
            </div>
            <div class="card-text">
                Start: <span class="text-custom-color">@Model.StartDate</span>
            </div>
            <div class="card-text">
                End: <span class="text-custom-color">@Model.EndDate</span>
            </div>
            <div class="card-text">
                Publisher: <span class="text-custom-color">@Model.Organizer</span>
            </div>
            <div class="card-text">
                Location: <span class="text-custom-color">@Model.LocationName</span>
            </div>
            <div class="card-text">
                Fishing Type: <span class="text-custom-color">@Model.FishingType</span>
            </div>                 
        </div>
       @*  class="d-md-inline" *@
        <div class="btn-group-sm">
            <a asp-controller="LeaderBoard" asp-action="LeaderBoard" asp-route-userId="@Model.UserId" asp-route-id="@Model.Id" class="btn btn-warning btn-custom"><i class="fa-solid fa-medal"></i> LeaderBoard for this event </a>
            <a asp-controller="Weather" asp-action="Index" asp-route-locationName="@Model.LocationName" class="btn btn-info btn-custom"><i class="fa-solid fa-cloud-sun"></i> Check Weather</a>
            <a asp-controller="FishingEvent" asp-action="AllEventParticipants" asp-route-id="@Model.Id" class="btn btn-primary btn-custom"><i class="fa fa-people"></i>   All Participants </a>
            <a asp-controller="Comment" asp-action="All" asp-route-id="@Model.Id" class="btn btn-secondary btn-custom"><i class="fa-solid fa-comment"></i> All Comments </a>
            <a asp-controller="FishingEvent" asp-action="All" class="btn btn-light btn-custom"><i class="fa-solid fa-rotate-left"></i> Back toFishing Event</a>

            @if (!User.IsInRole(AdminRole) && !User.IsInRole(GlobalAdminRole))
            {
                <a asp-controller="FishCaught" asp-action="All" asp-route-userId="@Model.UserId" asp-route-id="@Model.Id" class=" btn btn-success btn-custom"> My fish caught for this event </a>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
