 @model FishingEventDetailModel
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card mb-5 text-lg-start" style="background-color: rgba(10, 20, 0, 0.6);border-radius:10px;padding:8px;border-color:dimgrey;box-shadow:5px 5px 10px black;">
        @if (!string.IsNullOrEmpty(@Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" class="card-img-top img-fluid" style="max-height: 400px; object-fit: contain;  " alt="Location Image">
        }
        else
        {
            <img src="~/img/no-image.jpg" class="card-img-top img-fluid" style="max-height: 400px; object-fit: contain;" alt="Location Image">
        }

            <div class="card-body text-center">
            <h5 class="card-title">@Model.EventName</h5>
            <p class="card-text text-center">Description: @Model.Description</p>
            <p class="card-text text-center"><small class="text-muted">Start: @Model.StartDate</small></p>
            <p class="card-text text-center"><small class="text-muted">End: @Model.EndDate</small></p>
            <p class="card-text text-center"><small class="text-muted">Publisher: @Model.Organizer</small></p>
            <p class="card-text text-center"><small class="text-muted">Location: @Model.LocationName</small></p>
            <p class="card-text text-center"><small class="text-muted">Fishing Type: @Model.FishingType</small></p>
        </div>

        <p class="d-md-inline">
        <a asp-controller="LeaderBoard" asp-action="LeaderBoard" asp-route-userId="@Model.UserId" asp-route-id="@Model.Id" class="btn btn-warning btn-custom">LeaderBoard for this event </a>
        <a asp-controller="Weather" asp-action="Index" asp-route-locationName="@Model.LocationName" class="btn btn-info btn-custom">Check Weather</a>
        <a asp-controller="FishingEvent" asp-action="AllEventParticipants" asp-route-id="@Model.Id" class="btn btn-primary btn-custom"> All Participants </a>
        <a asp-controller="FishingEvent" asp-action="All" class="btn btn-light btn-custom">Back toFishing Event</a>
        @if (!User.IsInRole("Admin"))
        {
            <a asp-controller="FishCaught" asp-action="All" asp-route-userId="@Model.UserId" asp-route-id="@Model.Id" class=" btn btn-success btn-custom"> My fish caught for this event </a>
        }
       </p>     
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
