 @model FishingEventDetailModel
@{
    ViewBag.Title = "Details";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card mb-5 text-lg-start" style="background-color: rgba(10, 20, 0, 0.6);border-radius:10px;padding:8px;border-color:dimgrey;box-shadow:5px 5px 10px black;">
        @if (!string.IsNullOrEmpty(@Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" class="card-img-top img-fluid" style="max-height: 400px; object-fit: contain;  " alt="Location Image">
        }
        else
        {
            <img src="~/img/no-image.jpg" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain;" alt="Location Image">
        }
        <div class="card-body >
            <h5 class="card-title">@Model.EventName</h5>
            <p class="card-text">Description: @Model.Description</p>
            <p class="card-text"><small class="text-muted">Start: @Model.StartDate</small></p>
            <p class="card-text"><small class="text-muted">End: @Model.EndDate</small></p>
            <p class="card-text"><small class="text-muted">Publisher: @Model.Organizer</small></p>
            <p class="card-text"><small class="text-muted">Location: @Model.LocationName</small></p>
            <p class="card-text"><small class="text-muted">Fishing Type: @Model.FishingType</small></p>
        </div>
        <a asp-controller="FishCaught" asp-action="All" asp-route-userId="@Model.UserId" asp-route-id="@Model.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold"> My fish caught for this event </a>

        <a asp-controller="FishingEvent" asp-action="All" class="btn btn-light btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Back toFishing Event</a>
        @if (true)
        {          
            <a asp-controller="FishingEvent" asp-action="AllEventParticipants" asp-route-id="@Model.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold"> All Participants </a>
        }


    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
