
 @model ICollection<CommentAllModel>

<h2 class="text-center">All Comments</h2>

<br />

<br />

@if (!Model.Any())
{
    <h3>Not comments added yet</h3>
}
else
{
    <div class="flex-row">
        @foreach (var c in Model.OrderBy(c => c.CreatedOn))
        {
            <div>
                <div class="card h-50 transparent-card" style="margin:10px">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Author: @c.AuthorName</h5>
                        <p class="text-custom-color">@c.CommentText</p>
                        <p class="card-text">Created: @c.CreatedOn</p>
                        @if (c.IsAuthor || User.IsInRole(AdminRole) || User.IsInRole(GlobalAdminRole))
                        {
                            <div class="d-flex justify-content-start align-items-start gap-2">
                                <a asp-controller="Comment" asp-action="Edit" asp-route-commentId="@c.Id" asp-route-eventId="@c.FishingEventId" asp-route-authorId="@c.AuthorId" class="btn btn-outline-warning w-20 p-1"><i class="fa fa-pen"></i> Edit</a>
                                <a asp-controller="Comment" asp-action="Delete" asp-route-commentId="@c.Id" asp-route-eventId="@c.FishingEventId" class="btn btn-outline-danger w-20 p-1"><i class="fa fa-trash"></i> Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

<br />

<div class="text-start">
    <a asp-controller="Comment" asp-action="Add" asp-route-id="@int.Parse( TempData["eventId"].ToString())" class="btn btn-info  w-20 p-1"><i class="fa-solid fa-comment-medical"></i> Add New Comment</a>
</div>

<br />

<div>
    <a asp-controller="FishingEvent" asp-action="All" class="btn btn-warning w-20 p-1"><i class="fa-solid fa-rotate-left"></i> Back to all events</a>
</div>