
 @model CommentEditModel
@{
    ViewBag.Title = "Edit Comment";
    var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            @Html.AntiForgeryToken()
                      
            <div class="mb-3">
                <label asp-for="@Model.CommentText" class="form-label-add-edit">Text</label>
                <textarea asp-for="@Model.CommentText" class="form-control input-field" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.CommentText" class="text-custom-danger"></span>
            </div>
    
            <div class="mb-3">
                <input class="btn btn-success btn-dark-text mb-2 w-20 py-1 fw-bold rounded" type="submit" value="Save" />
                <button type="button" class="btn btn-warning btn-dark-text mb-2 w-20 py-1 fw-bold rounded" onclick="history.back()">Back</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

